In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import joblib

In [28]:
data = pd.read_csv("Cleveland/heart.csv", delimiter=',')

data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [29]:
data = data.drop(columns='fbs')
data = data.drop(columns='slope')
data = data.drop(columns='oldpeak')
data = data.drop(columns='restecg')
data = data.drop(columns='ca')
data = data.drop(columns='thal')

data.head()

   age  sex  cp  trestbps  chol  thalach  exang  target
0   52    1   0       125   212      168      0       0
1   53    1   0       140   203      155      1       0
2   70    1   0       145   174      125      1       0
3   61    1   0       148   203      161      0       0
4   62    0   0       138   294      106      0       0

In [30]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
thalach     0
exang       0
target      0
dtype: int64

In [31]:
X = data.drop(columns=['target'])
y = data['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print(X_train.shape)
print(y_train.shape)

(717, 7)
(717,)

In [32]:
model = RandomForestClassifier(
    n_estimators=100, 
    max_depth=None,    
    random_state=42,   
    class_weight="balanced"
)
model.fit(X_train, y_train)

# Save the trained model
joblib.dump(model, 'trained_model.pkl')
print("Model saved as 'trained_model.pkl'")

# Evaluate and print results (optional)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy on test set: {accuracy:.2f}")

Model saved as 'trained_model.pkl'
Accuracy on test set: 1.00